@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    background-color: rgb(41, 41, 41);
}

#OpeningText {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Open Sans';
    color: white;
}

#Announce {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Open Sans';
    color: rgb(139, 0, 0);
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 5px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    user-select: none;
    animation: dropin 1s ease-in-out;


}


.title:hover {
    background: rgba(255, 255, 255, 0);
    color: rgba(82, 42, 244, 0.096);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0);
    transform: scale(1.1);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.desc {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 5px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    user-select: none;
    animation: dropin 1s ease-in-out;
    margin-bottom: 10px;
}


